<div class="tracks-form my-sm">
  <div class="row">
    <div class="col-md-6 tracks tracks-video">
      <small class="d-block mb-2  text-muted">
        <i class="fa fa-fw text-primary fa-video-camera"></i>
        Video URL
      </small>
      <div data-name="video-tracks"></div>

      <button data-add-track="video" class="d-none btn disabled mt-3 btn-outline-primary btn-sm" type="button">
        <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>

       <span class="btn-inner--text">Add</span>

      </button>
    </div>

    <div class="col-md-6 tracks tracks-audio">
      <small class="d-block mb-2 mt-4 mt-md-0 text-muted">
        <i class="fa fa-fw text-primary fa-music"></i>
        Audio URL
      </small>
      <div data-name="audio-tracks"></div>

      <button data-add-track="audio" class="btn d-none disabled mt-3 btn-outline-primary btn-sm" type="button">
        <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>
        <span class="btn-inner--text">Add</span>
      </button>

    </div>
  </div>
</div>
