$primary-color: #2ecc71;


.custom-toggle-label {
  position: relative;
  top: 2px;
}

form label.subtitle {
  font-size: 20px;
  color: #8898aa;
  display: block;
}

#player {
  width: 350px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  top: 80px;

  i {
    position: absolute;
    margin-top: -6px;
    color: #666;
  }

  i.fa-volume-down {
    margin-left: -8px;
  }

  i.fa-volume-up {
    margin-right: -8px;
    right: 0;
  }
}

#volume {
  position: absolute;
  left: 24px;
  margin: 0 auto;
  height: 5px;
  width: 300px;
  background: #555;
  border-radius: 15px;

  .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: $primary-color;
    border: none;
    border-radius: 10px;
    outline: none;
  }

  .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
  }
}